body{
    margin: 0 auto;
    width:70%;
    font-family: "calibri";
}

div.sidebar {
    width: 15%;
    display: block;
    float: left;
    margin-left: 2%;
}

div.sidebar-toggle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

.sidebar-toggle li {
    cursor: pointer;
}

.login-section {
    display: flex;
    direction: row;
    justify-content: space-between;
}

.login-section img {
    max-width: 100%;
    max-height: 50px;
    cursor: pointer;
}

.user p {
    margin: 0 !important;
    font-size: 13px;
}

div.options {
    display: block;
    float: left;
    background-color: #eff3f8;
    width: 40%;
    height: 100%;
    border-radius: 2px;
    margin-left: 2%;
    padding-top: 2%;
}

div.options h1 {
    padding: 1.5% 2% 0 6%;
    font-size: 16pt;
}

.btn {
    border: none;
}

.btnWide{
    width: 192px;
    margin: 10% 0;
}

.btnWide * {
    display: inline-block;
}

.btnWide img {
    margin-right: 5px;
}

.btnMedium{
    height: 42px;
}

.btnPurple{
    background-color: #9954ff;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    font-size: 12px;
}

.btnWideRounded {
    border-radius: 50px;
}

.filesSectionTitle {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(176, 177, 198, 1);
}

.filesSectionList {
    list-style: none;
    padding-inline-start: 0;
    font-size: 14px;
    font-weight: 900;
}

.filesSectionItem {
    display: block;
    line-height: 2em;
}

.logo-section {
    display: block;
    width: 100%;
}

.searchBar {
    width: 70%;
    border: none;
    background-color: transparent;
    padding: 4% 4% 4% 0;
    font-weight: 700;
    outline: none;
}

.searchBar:focus{
    border: none;
}

::placeholder { /* Firefox, Chrome, Opera */ 
    color: rgba(176, 177, 198, 1);; 
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color:rgba(176, 177, 198, 1);; 
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: rgba(176, 177, 198, 1);; 
} 

.search-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.filter {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.filter-section, .clear-section {
    width: 7%;
    text-align: center;
    display: inline-box;
    cursor: pointer !important;
}

hr{ 
    height: 1px;
    color: rgba(176, 177, 198, 1);
    background-color: rgba(176, 177, 198, 1);
    border: none;
  }

.select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6%;
    color: rgba(176, 177, 198, 1);
    font-weight: 700;
}

.controls {
    width: 21%;
    text-align: right;
    margin-right: -5px;
}

.controls img {
    margin-right: 8%;
    cursor: pointer;
}

.article {
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    flex-direction: row;
    padding: 2%;
    cursor: pointer;
}

.article:hover{
    background-color: #e5e5e5;
}

.article-active {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 45px -6px rgba(186,184,186,1);
    -moz-box-shadow: 0px 0px 45px -6px rgba(186,184,186,1);
    box-shadow: 0px 0px 45px -6px rgba(186,184,186,1);
    border-radius:  10px;
    display: flex;
    flex-direction: row;
    padding: 2%;
    cursor: pointer;
}

.selectIcon {
    width: 15%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.articleData{
    line-height: 22%;
    font-size: 14px;
    font-weight: 700;
    color: rgba(176, 177, 198, 1);
}

.articleData .strongText {
    color: #000;
}

.addSection {
    width: 100%;
    padding: 10% 0 5%;
    text-align: center;
}

.addSection img {
    cursor: pointer;
}

.view {
    display: block;
    float: left;
    width: 37%;
    margin-left: 2%;
}

.view h1 {
    font-size: 37pt;
    margin: 25px 0 0;
}

.infoHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    color: rgba(176, 177, 198, 1);
}

.infoHeader p {
    margin: 0;
}

.viewContent {
    font-size: 12pt;
    color: rgba(176, 177, 198, 1);
    font-weight: 600;
    line-height: 150%;
}

.hide {
    display: none;
}

@media only screen and (max-width: 768px){
    body {
        width: 100%;
    }
    .sidebar {
        display: none !important;
    }
    .view{
        width: 45%;
    }
}

@media only screen and (max-width: 500px){
    div.sidebar {
        display: flex !important;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 5%;
    }
    div.sidebar-toggle {
        width: 100%;
        height: auto;
    }

    div.options {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .view {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column-reverse;
    }
}